.title {margin-left: 10%;
    color: whitesmoke;
}
.vert {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-left: 0.5rem;
  }
  .rouge {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 0.5rem;
  }